<div *ngIf="data_loading;else list">
    <p>Loading Heroes, please wait...</p>
    <fa name="cog" animation="spin" size="2x"></fa>  
</div>
<ng-template #list>
    <h4>Heroes</h4>
    <ul class="heroes">
        <li *ngFor="let hero_local of heroes" (click)="onSelect(hero_local)">
            <div [class.selected]="hero_local === hero">
                <span class="badge">{{hero_local.id}}</span> {{hero_local.name}}
            </div>
        </li>
    </ul>
</ng-template>