<div class="hero-details" *ngIf="hero">
    <h4>{{hero.name}} details</h4>
    <div class="row">
        <div class="form-group col-md-8">
        <label class="col-md-4">id</label>
        <p>{{hero.id}}</p>
        </div>
        <div class="form-group col-md-8">
        <label class="col-md-4">name</label>
        <p *ngIf="status=='Edit'">{{hero.name}}</p>
        <input [(ngModel)]="hero.name" *ngIf="status!='Edit'" /> <br *ngIf="status!='Edit'">
        <button class="btn btn-primary" (click)="changeEdit($event)" [innerText]="status" ></button>
        </div>
    </div>
</div>