<div class="jumbotron container">
  <ul class="nav nav-pills" role="tablist">
      <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['heroes']">Heroes </a></li>
      <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['list_heroes']">List Heroes</a></li>
      <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['undefined']">Not Valid</a></li>
    </ul>
  <router-outlet></router-outlet>
</div>

